<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/homepage/addshedule" method="post">
        {% csrf_token %}
        Start:
        <input type="datetime-local" name="start"> <br>
        End:  
        <input type="datetime-local" name="end"> <br>
        <input type="submit" value="add" onclick="closewindow()">
    </form>
    <script>
    function closewindow(){
        window.close();
    }
    </script>
</body>
</html>