<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'beta/css/homepage.css' %}" media="screen" title="no title" charset="utf-8">
</head>
<body>
    
    <div class="container">
    <h1>Welcom,{{request.session.first_name}}</h1>
    <div class="topone">
        <h3>Unconfirmed appointments:</h3> <br>
        {% for unconfirmedappo in unconfirmedappos %}
        <p>{{unconfirmedappo.start}}--{{unconfirmedappo.end}}</p> 
        <p>{{unconfirmedappo.subject}}</p> <br>
        {% endfor %}
        <button onclick="acceptpopup()">accept</button>   <button onclick="rejectpopup()">reject</button>
    </div>

    <div class="bottomone">
        <h3>Confirmed appoinments:</h3> <br>
        {% for confirmedappo in confirmedappos %}
        <p>{{confirmedappo.start}}--{{confirmedappo.end}}</p> 
        <p>{{confirmedappo.subject}}</p> <br>
        {% endfor %}
    </div>
    
    <div class="bottomone">
        <h3>Schedules</h3> <br>
        {% for schedule in schedules %}
        <p>{{schedule.start}}--{{schedule.end}}</p>
        {%endfor%}
        <button class="add" onclick="addschedule()">Add Schedule</button>
    </div>
</div>
    <script>
    function acceptpopup(){
        window.open("/acceptpopup.html", "acceptwindow", "toolbar=yes,scrollbars=yes,resizable=yes,top=200,left=500,width=400,height=400");
    }
    function rejectpopup(){
        window.open("/rejectpopup.html", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=200,left=500,width=400,height=400");
    }
    function addschedule(){
        window.open("/addschedule.html", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=200,left=500,width=400,height=400");
    }
    </script>
</body>
</html>